*
        @org-codedevs2/sm-p01-esteban @<ORG>/coderowners
/src/        @org-codedevs2/sm-p01-esteban @<ORG>/coderowners
/docs/       @org-codedevs2/sm-p01-esteban @<ORG>/coderowners
/.github/    @org-codedevs2/coderowners
/docs/rubrica-evaluacion.md    @<ORG>/coderownersgit